@charset "utf-8";

html, body {
	width:100%; height:100%;
	margin:0; padding:0;
	overflow:hidden;
	background:#f9f5ed url(images/tile-grid.gif) repeat 5px 5px;
	font-family: '微软雅黑', Helvetica, Calibri, Arial, sans-serif;
}

div, a {
	margin: 0px;
	padding: 0px;
}

.innerWrapper {
	position:relative;
	width:965px; max-width:965px; min-width:965px; height:100%;
	margin:0 auto; padding:0;
}

.clearfix { clear:both; }
.sideNote { float:right; margin:3px; padding:5px; }

.split { float:left; }

/* layers */
.playerPanelWrapper { position:relative; z-index:101; }

#dialog {		z-index: 400; }
#console {		z-index: 300; }
.menu-body {	z-index: 280; }
#player {		z-index: 200; }
#showcase { z-index: 500;}
#wall {			z-index: 100; }

#showcase {
	position: absolute;
	text-align: center;
	top: -220px;
	left: 25%;
}

#showcase #sinfo {
	height: 219px;
}

#sinfo #info {
	display: inline-block;
}

#sinfo #lyrics {
	display: inline-block;
}

#showcase a {
	display: inline-block;
}

#console, #player, .menu-body {
	-webkit-transition:0.7s ease-out all;
	-moz-transition:0.7s ease-out all;
	-ms-transition:0.7s ease-out all;
	-o-transition:0.7s ease-out all;
	transition:0.7s ease-out all;
}

#player #posters img {
	-webkit-transition: 0.7s ease-out left, 0.7s ease-out top;
	-moz-transition: 0.7s ease-out left, 0.7s ease-out top;
	-ms-transition: 0.7s ease-out left, 0.7s ease-out top;
	-o-transition: 0.7s ease-out left, 0.7s ease-out top;
	transition: 0.7s ease-out left, 0.7s ease-out top;
}

#player #posters img.noMotion {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

#console {
	position:fixed; left:0; bottom:0;
	width:100%; height:85px;
	margin:0; padding:0;
	color:#fff;
	filter: alpha(opacity=95);
}

#yuelink { float:left; width:100px; height:45px; margin:18px 0 0 150px;
	background:url(images/yuelink-100.png) no-repeat;
}

#console #playCtrl, #console #userBox {
	height:60px; margin:0; padding:12px 0;
}

#console #playCtrl {
	position: relative;
	float:left; width:485px;
	overflow:hidden;
}

#console #userBox {
	float:right;
}

#console #userBox #userNote { margin:0; }
#console #userBox #nav,
	#console #userBox #registerNav { list-style:none; margin:10px 0 0 0; padding:0; }
#console #userBox #nav li {
	float:left; width:25px; height:25px;
	margin:0 15px; padding:0;
	border:3px solid #fff; border-radius:15px;
	background:;
}
#console #userBox #nav li a { display:block; width:100%; height:100%; /* temporary */ }

#console #userBox #registerNav li { float:left; height:25px; margin:0 15px; padding:0; }

#playCtrl-box {
	position:relative;
	float:left; width:60px; height:60px;
	margin-right:18px;
	margin-left: 22px;
}
#playCtrl-thumb {
	width:50px; height:50px;
	opacity:0.5; filter: alpha(opacity=50);
}
#playCtrl-button {
	position:absolute; top:0; left:0;
	display:block; width:100%; height:100%;
}
#playCtrl-button[isPaused=true], #playCtrl-cycle[isCycle=true] {
	background-color:rgba(255, 255, 255, 0.5);
}


#playCtrl-cycle, #playCtrl-heart {
	float:right;
	display: block;
}

#playCtrl-heart { margin-left:7px; }

#playCtrl h2 {
	float:left; width: 280px;
	margin:0;
	font-size:1em;
}

#playCtrl-bar {
	position:relative;
	float:left; width: 385px; height:4px;
	margin-top: 7px;
	margin-bottom: 1px;
	padding:8px 0;
	border-radius:2px;
	overflow:visible;
}
#playCtrl-bar .prog-blank {
	position:absolute;
}
#playCtrl-bar .prog-white {
	position:absolute;
	width: 0px;
}
#playCtrl-bar .prog-load {
	position:absolute;
	width: 0px;
}
#playCtrl-bar .prog-cover {
	position:absolute; top:4px; left:0;
}
#playCtrl-bar-cover {
	width:0; height:4px;
	background-color:#fff;
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
}

#playCtrl-time {
	float:left;
	font-size:9pt;
}

#playCtrl-volume {
	float:right;
	position:relative;
	width: 25px; height:9px;
}
#playCtrl-volume .volumn-white {
	z-index: 500;
	position: absolute;
	width: 0px;
}
#playCtrl-volume .volumn {
	position: absolute;
}
.speaker-white {
	float:right;
	margin-right: 3px;
}
#playCtrl-volume .volumeCover {
	position:absolute; top:0; left:0;
	width:100%; height:100%;
}
#playCtrl-volume .volumeBar {
	float:left; width:50%; height:100%;
	background-color:#fff;
}


#player {
	position:absolute; top:0; left:0;
	width:100%; height:100%;
	overflow:hidden;
}
#player #posterHolder {
	position:relative; min-height:100%; min-width:100%;
	background-color:#444;
}
#player #posters { width:100%; height:100%; margin:0; padding:0; list-style: none; overflow:hidden; }
#player #posters li { position:fixed; width:100%; height:100%; overflow:hidden; }
#player #posters li img { position:relative; }
#player #posters li img.noMotion { box-shadow:0 0 23px rgba(0,0,0,0.5); }

#player #prev { 
  position: absolute; top:37%;
}
#player #prev a {
  display: block;
}
#player #next {
  right: 0px;
  position: absolute; top:37%;
}
#player #next a {
  display: block;
}

#wall {
	position:fixed; top:87px; bottom:0px;
	width:100%; padding-bottom:40px;
	overflow-y:auto;
}

#wall::-webkit-scrollbar {
	width:9px; height:9px;
	background:rgba(0,0,0,0.1);
	border-bottom-left-radius:11px; border-top-left-radius:11px;
	box-shadow:1px 0 2px rgba(0,0,0,0.3) inset;
}
#wall::-webkit-scrollbar-thumb {
	background:#666;
	border-bottom-left-radius:11px; border-top-left-radius:11px;
}
#wall::-webkit-scrollbar-thumb:hover { background:#6f6f6f; }

#wall .innerWrapper { margin-top:15px; height:auto; }

#wall #nodeInfo {
	/* position: absolute; top: 0; right: 0px; */
	float:right; 
	width: 473px; min-height:300px;
	font-size:10pt;
	color:#eee;
	background-color:#999;
	background-color:rgba(0,0,0,0.4);
	box-shadow:0 1px 2px rgba(0,0,0,0.3);
	border:1px solid #bbb;
	border-bottom-left-radius:23px;
}

#wall #nodeInfo #nodeInfo-masthead {
	background-color:#666;
	background-color:rgba(0,0,0,0.4);
	height:105px;
}

#wall #nodeInfo #nodeInfo-masthead-ctrl { float:right; list-style:none;
	margin:0 0 0 5px; padding:0;
}
#wall #nodeInfo #nodeInfo-masthead-ctrl li { width:35px; height:35px; padding-left:10px; }
#wall #nodeInfo #nodeInfo-masthead-ctrl li.current { background:url(images/nodeInfo-current.gif) no-repeat 3px center; }
#wall #nodeInfo #nodeInfo-masthead-ctrl li a { display:block; width:35px; height:35px; line-height:35px; background-color:#ccc; }
#wall #nodeInfo #nodeInfo-masthead-ctrl li.current a { background:#76b900; }

#wall #nodeInfo #nodeInfo-masthead img.photo { float:left; width:105px; height:105px; margin:0 10px 0 0; }
#wall #nodeInfo #nodeInfo-masthead h1,
	#wall #nodeInfo #nodeInfo-masthead p { margin:5px 0; padding:0; } 
#wall #nodeInfo #nodeInfo-masthead h1 { font-size:1.5em; margin-top:0; padding-top:5px; }
#wall #nodeInfo #nodeInfo-masthead h1 .nickname { font-size:0.75em; }
#wall #nodeInfo #nodeInfo-masthead .hasHeart { padding-right: 23px; background:url(images/brick-heart.png) no-repeat right; }

#wall #nodeInfo #nodeInfo-grid { margin:20px; position:relative; }
#wall #nodeInfo #nodeInfo-grid #nodeInfo-intro { position:absolute; left:0; bottom:0; width:7em; margin:0; }
#wall #nodeInfo #nodeInfo-grid #nodeInfo-data { list-style:none; position:absolute; left:80px; top:0; }
#wall #nodeInfo #nodeInfo-grid #nodeInfo-thumbs { list-style:none; margin-left:80px; overflow-y:auto; }
#wall #nodeInfo #nodeInfo-grid #nodeInfo-thumbs li { float:left;
	width:50px; height:50px; margin-right:10px; margin-bottom:10px;
	background:#ccc;
}
#wall #nodeInfo #nodeInfo-grid #nodeInfo-thumbs li img { width:100%; }


#wall .brick {
/*	position: absolute; */
	float:left;
	width: 228px;
	margin-bottom:15px;
	border:1px solid #bbb;
	background:#fff;
	box-shadow:0 1px 2px rgba(0,0,0,0.3);
}
#wall .brick .brick-header, #wall .brick h1, #wall .brick .level, .brick .heart { margin:8px; }


#wall .brick .brick-header {
	width:210px;
	min-height:150px;
	position:relative;
}

#wall .brick .brick-header img { width:210px; margin:0; }

#wall .brick .brick-header .shade {
	position:absolute; top:0; bottom:0;
	width:100%;
	background-color:rgba(0,0,0,0.5);
	opacity:0;
	-webkit-transition: 0.15s ease-out all;
	-moz-transition: 0.15s ease-out all;
	-ms-transition: 0.15s ease-out all;
	-o-transition: 0.15s ease-out all;
	transition: 0.15s ease-out all;
}
#wall .brick .brick-header .shade:hover { opacity:1; }

#wall .brick .brick-header .share,
	#wall .brick .brick-header .more {
		position:absolute; top:7px;
		width:50px; height:23px;
		padding:2px 5px;
		border-radius:3px;
		font-size:10pt; font-weight:bold;
		background-color:#666;
		color:#ccc;
}
#wall .brick .brick-header .share:hover,
	#wall .brick .brick-header .more:hover {
		background-color:#58b2dc;
}
#wall .brick .brick-header .share { left: 7px; }
#wall .brick .brick-header .more { left: 74px; }

#wall .brick .brick-header .playThis {
	position:absolute; right: 0; bottom: 0;
	display: block; width: 70px; height: 70px;
	background:url(images/brick-playThis.png) no-repeat right bottom;
	cursor:pointer;
}

#wall .brick h1 { font-size:11pt; color:#666; text-align:center; }
#wall .brick .level, #wall .brick .heart { height: 23px;
	font-size:10pt; font-weight:bold; line-height:23px;
}
#wall .brick .level { float: left; padding-left:58px;
	color:#5bd;
	background:url(images/brick-level.png) no-repeat left;
}
#wall .brick .heart { float: right; padding-right: 23px;
	color:#666;
	background:url(images/brick-heart.png) no-repeat right;
}

#wall .brick .brick-comment {
	clear:both; margin:0; padding:0; list-style:none;
	background:#eee;
	font-size:10pt;
}
#wall .brick .brick-comment li { min-height:50px; overflow-y:auto;
	color:#666;
	border-top:1px solid #ccc;
}
#wall .brick .brick-comment li:first-child { border-color:#ddd; }
#wall .brick .brick-comment li img.photo {
	width:50px; height:50px; float:left; margin:0; padding:0; border:none;
}

#wall .brick .brick-comment li p.text { margin:10px 10px 10px 60px; word-wrap:break-word; }
#wall .brick .brick-comment li .name,
	#wall .brick .brick-comment li .at { font-weight:bold; }



#dialog {
	position:fixed; top:0; left:0; bottom:0; right:0;
	background: url(images/opacity050.png);
	background-color: rgba(0,0,0,0.3);
	overflow-y:scroll;
}
#dialog::-webkit-scrollbar {
	width:11px; height:11px;
	background:#666;
	border-bottom-left-radius:11px; border-top-left-radius:11px;
	box-shadow:1px 0 2px rgba(0,0,0,0.3) inset;
}
#dialog::-webkit-scrollbar-thumb {
	background:#999;
	border-bottom-left-radius:11px; border-top-left-radius:11px;
}
#dialog::-webkit-scrollbar-thumb:hover { background:#9f9f9f; }

#dialog .dialog-body {
	position:relative;
	width:965px;
	margin:100px auto;
	background:#f9f5ed;
	border:1px solid #333;
	box-shadow:0 1px 10px rgba(0,0,0,0.5);
} 
#dialog .dialog-body h1 {
	margin:0; padding:0 1.5em;
	line-height: 60px;
	color:#fff;
	font-size:1.3em; font-weight:normal;
	background:#333;
}
#dialog .dialog-body .icon-detail {
	padding:15px 0 15px 50px;
	background: url(images/icon-detail.png) no-repeat left;
}

#dialog .dialog-body .closeThis {
	position:absolute; top:10px; right:10px;
	width:20px; height:20px;
	color:transparent; font-size:0;
	border:1px solid #fff;
}
#dialog .dialog-body .dialog-inner {
	margin:50px 90px;
	min-height:400px;
	background:#eee;
}


.menu-body { display:none;
	position: absolute; top:85px;
	min-width:200px; min-height:180px;
	color:#fff;
	background-color:#666;
	background-color:rgba(0,0,0,0.7);
	border:1px solid #fff;
	border-color:rgba(255,255,255,0.7);
}

#songInfoLight { left:0; }
#startMenu, #searchMenu, #fmMenu, #msgMenu, #userMenu {
	width:244px; /* width of #userBox to align */
	right:0; 
}






ul.blockSelector { margin:0; padding:0; list-style:none; }
ul.blockSelector li { display:block; float:left;
	border:5px solid #ccc; box-shadow:0 0 7px rgba(0,0,0,0.1) inset;
}
ul.blockSelector li:hover { border-color:#69c; box-shadow:0 0 10px rgba(0,0,0,0.2) inset; }
ul.blockSelector li:active { border-color:#36c; }

#registration .block { display:none; }
#regType .blockSelector li { width:30%; min-height:330px; margin:5% 0 5% 2%; 
	text-align:center; }
#regType .blockSelector img { width:150px; max-width:75%; height:150px;
	display:block; margin:20px auto;
}
#regType .blockSelector p { margin:0.5em 1em; text-align:left; }

#regType .blockSelector li.note { border:none; box-shadow:none; font-size:0.9em; }

#perRealname .split.about,
#orgVerify .split.about { clear:both; width:40%; margin-right:25px; }
#perRealname .split.form,
#orgVerify .split.form { width:50%; padding-left:25px; border-left:1px solid #ccc; }


@media all and (max-width:980px) {
	
}


@media all and (max-width:480px) {
	/* not yet finished */
	html, body { width:480px; min-width:480px; overflow-x:scroll; }
	
}
